<launch>
 <!--<node name="close_obstacle" pkg="obstacle_detection" type="close_obstacle" output="screen">
 </node>-->


 <node name="filter_cloud" pkg="obstacle_detection" type="filter_cloud" output="screen">
 <rosparam command="load" file="$(find obstacle_detection)/ground_plane.yaml"/>	
 </node>
 
 
 <node name="costmap_2D" pkg="obstacle_detection" type="costmap_2D" output="screen">
 <rosparam command="load" file="$(find obstacle_detection)/ground_plane.yaml"/>	
 <rosparam command="load" file="$(find obstacle_detection)/obstacle_detection_parameters.yaml"/>	
 </node>
 
<!--
 <node name="obstacle_avoidance" pkg="obstacle_detection" type="obstacle_avoidance" output="screen">
 <rosparam command="load" file="$(find obstacle_detection)/obstacle_avoidance_parameters.yaml"/>	
 </node>-->
 
 </launch>
