<launch>
        <!--rosparam command="load" file="$(find turtlebot_behaviors)/config/robot_ids.yaml" /-->

	<include file="$(find turtlebot_concert)/solutions/concert.launch"/>

        <!--node pkg="turtlebot_behaviors" type="swarm_controller" name="swarm_controller" output="screen"/-->

	<rosparam command="load" file="$(find collvoid_turtlebot)/params/robot_ids.yaml" />

	<node pkg="collvoid_local_planner" name="collvoid_sync" output="screen" type="collvoid_sync"/>
	<node pkg="collvoid_controller" type="controller.py" name="controller" output="screen"/>
</launch>
